body {
	min-height: 100vh; /* Make body fills the entire <html> container */
	background-color: #888;
	background-image: url('https://unsplash.it/g/1500/800?random&'); /* Random images service */
	background-size: cover;
}

.login-form {
	height: auto;
	display: inline-block;
	background: #222;
	color: mintcream;
	padding: 2%;
	padding-bottom: 20px;
	margin-top: 20vh;
	border-radius: 10px;
}

.login-h2 {
	font-size: calc(1em + 1vw);
	margin-bottom: 4%;
}

.mine-footer {
    font-size: 10pt;
    height: 35px;
    position: absolute;
	bottom: 0;
	width: 100%;
}